.root {
	width: 100%;
}

.root__group {
	display: flex;
	flex-direction: column;
}

.root__input {
	height: 16px;
	border-radius: 4px;
}

.root__actions {
	display: flex;
	justify-content: start;
}

.root__button {
	margin-top: .5rem;
}